.venv/
__pycache__/
*.pyc
extracted_information/
extracted_links/
example html/
.scrapy/
data/raw/*.jsonl
data/intermediate/*.parquet
data/processed/*.parquet
youm7_scrape/include/data/raw/*.jsonl
youm7_scrape/include/data/intermediate/*.parquet
youm7_scrape/include/extracted_links/*

# Ignore all data files
include/data/**/*.jsonl
include/data/**/*.parquet

# BUT, do not ignore the .gitkeep files
!**/ .gitkeep